.content {
  letter-spacing: -0.8px;
  line-height: 1.8;
  word-spacing: -3px;
  h2 {
    display: flex;
    height: 50px;
    flex-shrink: 0;
    font-size: 20px;
  }

  .target {
    font-size: 14px;
    margin-bottom: 10px;
    color: #718093;
  }

  .desc {
    font-size: 15px;
    word-break: keep-all;
    color: $clr-default;
    & + .desc {
      margin-top: 20px;
    }
    &.default {
      font-size: 13px;
      color: $clr-primary;
    }
    strong {
      color: $clr-primary;
      font-weight: 400;
      // text-decoration: underline;
      border-bottom: 1px solid $clr-primary;
    }
    .lst {
      margin-bottom: 10px;
      li {
        display: flex;
        list-style: none;
        color: $clr-default;
        span {
          display: inline-flex;
        }
      }
    }
  }

  .table {
    width: 100%;
    padding: 0;
    border: 0;
    border-spacing: 0px;
    border-collapse: collapse;
    tr {
      th,
      td {
        padding: 4px;
        color: $clr-default;
        border: 1px solid $clr-table-border-default;
        font-size: 13px;
        border-collapse: collapse;
      }
      th {
        width: 20%;
        text-align: left;
        strong {
          border: 0;
        }
      }
    }
  }

  .controller {
    padding: 40px 0;
    > .btn {
      margin-right: 10px;
    }
  }

  .viewWrap {
    display: flex;
    flex-direction: column;
    > div {
      flex: 1;
      box-sizing: border-box;
      &.preview {
        min-height: 300px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #dcdcdc;

        .parent {
          padding: 10px;
          border: 2px solid $clr-default;
        }

        .child {
          display: flex;
          padding: 15px;
          margin: 2px;
          color: #fff;
          text-align: center;
          background-color: $clr-primary;
          font-size: 17px;
          justify-content: center;
          align-items: center;
        }
        & + .desc {
          margin-bottom: 20px;
        }
      }
      &.code {
        display: flex;
        padding: 30px 10px;
        border-radius: 5px;
        background-color: #ddd;
        pre {
          font-size: 12px;
          line-height: 2;
          letter-spacing: 1px;
        }
      }
      &.info {
        margin-bottom: 20px;
        font-size: 15px;
        letter-spacing: -0.5px;
        line-height: 1.7;
      }
    }
  }
}

.makeWrap {
  .makeView {
    display: flex;
    width: 100%;

    .flex-container {
      display: flex;
      width: 40vw;
      height: 30vh;
      padding: 2px;
      border: 1px solid #333;
      overflow: auto;
      .flex-item {
        width: 100px;
        height: 100px;
        margin: 2px;
        padding: 10px;
        background-color: $clr-primary;
        color: #fff;
        cursor: pointer;
        box-sizing: border-box;
      }
    }
    .elementControl {
      flex-basis: 150px;
      padding-left: 5px;
      flex-shrink: 0;
      .btn {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
      }
    }
  }
  .makeController {
    dl {
      dt {
      }
      dd {
        display: flex;
        align-items: center;
        span {
          display: flex;
          align-items: center;
        }
        label {
          display: inline-flex;
          margin-left: 5px;
          margin-right: 20px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }
}
